 /* #myDiv
 {
    width: 400px;
    height: 400px;
    background-color: red; }  */



/* 
body{
    background-color: black;
}
*
{
    cursor:none;
}
#demo
{
    height: 50px;
    width: 50px;
    position: absolute;
}  */ 
